<!DOCTYPE html>
<html>
    <head>
        <h1>Hospital Room Form</h1>
        <title>Schedule Appointment</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
    </head>
    <body>
        <h3>
            <a href="{{ url_for('show_waiting') }}">SGMC Patient Queuing System</a>  
        </h3>
        <hr/>
        {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "flash_messages">
                {{ message }}
            </div>
        {%- endfor %}
        <form name="room_info" method="POST" id="room" action="{{ request.path }}">
                <table>
                    <tr><td> Room Number: </td> <td><input type="text" id="roomnum" name="roomnum" placeholder="0000" room_number="" required></td></tr>
                </table>
                <input type="submit" value="Submit"/>
            
        </form>
    </body>
</html>