<!DOCTYPE html>
<html>
    <head>
        <h1>Patient Registration Form</h1>
        <title>Schedule Appointment</title>
    </head>
    <body>
        <form name="Scheduler" method="POST" id="info" action="../Patient.py">
            <table>
                <tr><td> First Name: </td> <td><input type="text" id="fName" placeholder="First Name" fName="" required></td></tr>
                <tr><td> Last Name: </td><td><input type="text" id="lName" placeholder="Last Name" lName="" required></td></tr>
                <tr><td>Patient ID: </td><td><input type="text" id="id" ID="" required></td></tr>
            </table>
            <button type="submit" form="info" formmethod="POST">Submit</button>
        </form>
    </body>
</html>