<!DOCTYPE html>
<html>
    <head>
        <h1>Patient Registration Form</h1>
        <title>Schedule Appointment</title>
    </head>
    <body>
        <form name="Scheduler" method="POST">
            <table>
                <tr><td> First Name: </td> <td><input type="text" placeholder="First Name" fName=""></td></tr>
                <tr><td> Last Name: </td><td><input type="text" placeholder="Last Name" lName=""></td></tr>
                <tr><td>Patient ID: </td><td><input type="text" ID=""></td></tr>
            </table>
        </form>
    </body>
</html>