<!DOCTYPE html>
<html>
    <head>
        <h1> Patient Que</h1>
        <title>Patient Que</title>
        <link rel="stylesheet" type="text/css" href="./css/que.css">
        <script type="text/Python" src="PatientQue.py"></script>
    </head>
    <body>
        <table style="width:100%">
            <tr style="width:70%">
                <th>Name</th>
                <th>ID</th>
                <th>Time In</th>
                <th>Time Waited</th>
            </tr>
            <tr style="width:70%">
                <td>John Doe</td>
                <td>43</td>
                <td>4:45</td>
                <td>0:25</td>
            </tr>
            <tr style="width:70%">
                <td>Jane Smith</td>
                <td>28</td>
                <td>2:15</td>
                <td>1:30</td>
            </tr>
        </table>
    </body>
</html>