<!DOCTYPE html>
<html>
    <head>
        <h1>Patient Queue</h1>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
    </head>
    <body>
        <h3>
            <a href="{{ url_for('show_waiting') }}">SGMC Patient Queuing System</a>  
        </h3>
        <hr/>
        {%- for message in get_flashed_messages() %}
         {{ message }}
        {%- endfor %}

        <div class="column">
            <h4 class="ready">Waiting Patients (<a href = "{{ url_for('new') }}">ADD</a>)
                <form class="ready_form" name="ready" method="POST" action="{{ request.path }}">
                    <input type="submit" name="ready_button" class="annoying" value="Ready">
                </form>
            </h4>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Position</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for patient in waiting_patients %}
                    <tr>
                        <td>{{ patient.fname }}</td>
                        <td>{{ patient.lname }}</td>
                        <td>{{ patient.id }}</td>
                        <td>
                            <form class="shift" name="shift" method="POST" action="{{ request.path }}">
                            
                                <input type="text" id="position" name="position" class="position" value="{{ patient.position }}">
                                <input type="submit" name="pos" value="+" class="shift_pos">
                                <input type="submit" name="pos" value="-" class="shift_pos">
                            
                            </form>
                        </td>
                        
                            
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="column">
            <h4>Ready Patients</h4>
     
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>ID</th>
                        <th>Position</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for ready_patient in ready_patients %}
                    <tr>
                        <td>{{ ready_patient.fname }}</td>
                        <td>{{ ready_patient.lname }}</td>
                        <td>{{ ready_patient.id }}</td>
                        <td>{{ ready_patient.status }}</td>
                        <td>{{ ready_patient.position }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>