.body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: rgba(63, 63, 63, 0.644);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.072);
}

.column {
  padding-top: 3%;
  float: left;
  width: 30%;
  /* border: 1px solid gray */
}

th {
  padding-left: 2%;
  width: 10%;
}
td, h4 {
  padding-left: 2%;
}
.ready {
  float: left;
}
.ready_form {
  float: right;
}
.shift {
  float: right;
  display: flex;
}
.shift_pos {
  width: 20%;
  height: 2%;
  font-size: x-small;
}
.position {
  width: 40%;
}
.flash_messages {
  position: absolute;
  background-color: rgba(233, 92, 87, 0.549);
  display: block;
  float: none;
  color: black;
  padding: 3%;
  top:10%;
  left:40%;
}
.room_stuff {
  display: block;
  padding-left: 1%;
}
.room_object {
  display: inline;
  padding:1%;
  border: 2px solid gray;
  border-radius: 5%;
  background-color: rgb(234, 230, 230);
}